@import "tailwindcss";

/* Esto le dice a Tailwind exactamente dónde buscar tus clases */
@source "../**/*.{astro,html,js,jsx,md,mdx,svelte,ts,tsx,vue}";


@layer base {
  body {
    @apply antialiased;
  }
}

@theme {
  /* Verde vibrante para el crecimiento y energía */
  --color-primary: #a3e635; /* Lime 400 */
  /* Azul casi negro para la confianza y rigor científico */
  --color-secondary: #14532d;
  /* Color de acento para alertas o botones secundarios */
  --color-accent: #2dd4bf; /* Teal 400 */
  --color-darkText: #1f2937;

  --color-surface: #f8fafc;
}
